body{
    background-color: #ebebeb
}

.page-contact{
    padding: 0px 15px;
}

h4{
    display: none;
}

#text-duvida{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    margin-bottom: 8px;
}

.contact{
    display: inline-grid;
    padding: 15px;
}

.atendimento{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #f37021;
}

.regiao{
    display: inline-block;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    justify-content: center;
    align-items: center;

}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-envelope::before {
    content: "\2709";
    font-size: 24px;
}

.regiao a{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
}

.trade{
    max-width: 400px;
    display: flex;
    position: relative;
    align-content: flex-start;
    z-index: 1;
}

.trade img{
    width: 100%;
}

@media (min-width:680px){

    .page-contact{
        padding: 30px 130px;
    }
    
    .fas {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;

    }

    .fa-angle-right::before {
        content: "\f054";
    }

    h4{
        display: block;
        padding: 5px;
        margin: 10px;
        font-family: "Raleway", sans-serif;
        font-style: italic;
        font-weight: 800;
        font-size: 20px;
    }

    .duvida{
        display: flex;
        align-items: center;
    }
    
    .duvida img{
        width: 20%;
    }
    
    .duvida h3{
        font-size: 19px;
    }
    
}

@media (min-width:1200px){
    h4{
        padding-bottom: 60px;
    }

    .duvida img {
        max-width: 210px;
    }

    .contact{
        display: grid;
    }
}
